* {
  margin: 0;
padding: 0;
font-family:Arial, Helvetica, sans-serif;
box-sizing: border-box;
}

.main{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(160deg, #0093E9,#80D0C7);
  align-items: center;
}

.logBox{
  padding-top: 200px;
}

.container{
}

.container b{
  font-size:xx-large;
}